*{
    margin: 0;
    padding: 0;
}
/* css variables */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}
/* Logo and image:Navigation Bar */
#logo{
    margin: 10px 10px;
}
#logo img{
    height: 60px;
    margin: 10px 10px;
}
/*List styling*/
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    /* color: rgb(194, 110, 209); */
    color: aqua;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.2;   */
}
#navbar ul li a:hover{
    color: orangered;
    background-color: white;
}
/* For Feedback Styling.. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: white;
    /* backgroun */
    /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../Images/loginbackground.jpg"); */
    /* background-color: rgb(244, 234, 234); */
    background-position: center;
    background-size: cover;
    max-height: 1500px;
   
    display: flex;
    align-items: center;
    justify-content: center; 
}
form{
    /* background: #fff;  */
    /* background: rgb(212, 210, 210); */
    background: black;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 800px;
   
    border-radius: 10px;
}
form h3{
    color: #e93f3f;
    font-weight: 1000;
    margin: 20px;
    font-size: 30px;

}
form input,form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    background:#f5f5f5f5;
    border-radius: 30px;
}
form button{
    /* padding: 15px;
    background: #ff536f;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px; */
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    gap: 10px;
    border: none;
    background: #ff536f;
    border-radius: 50px;
    width: 150px;
    cursor: pointer;
}
button {
    width: 93.5%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    cursor: pointer;
    font-weight: 700;
    margin-top: 1rem;
  }
  
  button:hover {
    background: linear-gradient(to right, var(--Tomato2), var(--Tomato));
    box-shadow: 5px 2px 20px 3px rgba(255,98,87,0.75);
  }
 button img{
    height: 25px;
}
@media only screen and (max-width:750px){
    /* .container{
      background-image: url('../Images/contactbackground.webp'); 
    } */
}